@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;1,800&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

:root {
  --bg-primary-color: #4d4b72;
  --ft-primary-color: #f3f9fc;

  --ft-header-color: #cfe8ff;

  --border-color: #fbf9be86;

  --bg-choice: #eedbb3;
  --bg-choice-hover: #ccb5f0;
  --ft-choice: #472e45;
}